* {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #191919;
    padding: 20px 0;
}

.logo {
    margin: auto 40px;
}

nav {
    margin: auto 0;
}

.link {
    color: white;
    text-decoration: none;
    margin: 0 30px;
}

.link--selected {
    font-weight: 700;
}

.link:hover {
    font-weight: 700;
}

.calltoaction {
    display: flex;
    padding-top: 185px;
    flex-direction: column;
    height: 590px;
    background-size: cover;
    background-image: url(/styles/images/fondo1.png);
}

.text {
    color: white;
    position: relative;
}

.text_title {
    font-family: 'Open Sans', sans-serif;
}

.text_body {
    max-width: 615px;
    margin: 0 auto;
}

.text_title--big {
    text-align: center;
    font-size: 48px;
}

.text_body--big {
    text-align: center;
    font-size: 24px;
}

.button {
    height: 52px;
    width: fit-content;
    padding: 0 50px;
    box-sizing: content-box;
    border-radius: 26px;
    border: none;
    background-color: white;
    font-size: 20px;
    margin: 70px auto;
}

.product {
    background-color: #191919;
    display: flex;
    padding: 30px 100px;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_container {
    margin: auto 0;
    height: fit-content;
}

.text_body--medium {
    max-width: 536px;
    font-size: 18px;
}

.text_title--medium {
    line-height: 40px;
    max-width: 535px;
    font-size: 36px;
}

.button-product {
    margin: 50px 0;
}